doctype html
html(lang='')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='')
    meta(name='theme-color' content='#4DA5F4')
    link(rel='stylesheet', href='/css/main.css')
    title Is Me
  body
    script(src='/js/lib/jquery-3.1.1.min.js')
    script(src='/js/lib/bootstrap.min.js')
    script(async defer src="https://buttons.github.io/buttons.js")
    script(src='/js/lib/home.js')
    h1 Folks who are Ryan Gosling
    .row
      each is_me in folks_who_are_me
        .col-sm-6
          h2(id=`name-${is_me.name}`)=is_me.name
          button.btn.btn-outline-secondary(class='remove-me' id=`remove-me-${is_me.name}`, data-name=is_me.name, type='button') Remove
    hr
    div.input-group.mb-3.w-50.mx-auto
      input.form-control(type='text', name='name', id='this-is-me-name', placeholder='Ryan Gosling', autofocus, required)
      div.input-group-append
        button.btn.btn-outline-secondary(id='this-is-me-button', type='button') That is me